@model SS.Entities.Shop

<tr>
    <td>@Model.Name</td>
    <td><p>@Model.Address</p></td>
    <td>@Model.StartTime.ToString("HH:mm") - @Model.EndTime.ToString("HH:mm")</td>
    <td><a asp-controller="Product" asp-action="Index" asp-route-shopId="@Model.Id">Products</a></td>
</tr>